<?xml version="1.0" encoding="UTF-8" ?>
<settings>

	<slideview>

		<orientations value="landscapeLeft,landscapeRight" />

		<captionFormat>{{caption}}
{{date}}  {{place}}</captionFormat>

		<captionPlaceFormat>{{country}}</captionPlaceFormat>

		<captionFooterAlignment value="center" />

		<captionFooterText>( {{pageNumberInBook}} of {{pagecountInBook}} )</captionFooterText>

	</slideview>

</settings>