<?xml version="1.0" encoding="UTF-8" ?>
<settings>

	<class value="slideview">
		
		<showToolbar value="false" />

		<orientations value="landscapeLeft,landscapeRight" />

		<pageBackgroundMarkColorR value="120" />
		<pageBackgroundMarkColorG value="120" />
		<pageBackgroundMarkColorB value="120" />
		
		<!-- must be zero or embedded formatting will screw up the shadow, making it black! -->
		<captionTextShadowAlpha value="0" />
		<textblockTextShadowAlpha value="0" />
		<overlayTextShadowAlpha value="0" />
		<gridTextObjectTextShadowAlpha value="0" />
		
		<captionFormat>{{caption}}</captionFormat>
		<captionFooterAlignment value="center" />
		<captionPagenumFont value="AvenirNext-UltraLight" />
		<captionFooterText>
		### set, ,,,,,,,50%
		— {{pageNumberInBook}} —
		</captionFooterText>
		<captionPlaceFormat>{sublocation} {city}{citySeparator}{state}{stateSeparator}{country}</captionPlaceFormat>

		<overlayFilename value="*/images/card-overlay.png" />


		<bookBackgroundAlpha value="0" />

		<chapterBackgroundAlpha value="0" />

		<pageBackgroundAlpha value="10%" />

	</class>


	<class value="navbar">
		<showOnStart value="false" />

		<pickerShowLabels value="false" />

		<showLibraryButton value="true" />
		<showSlideshowButton value="false" />
		<showMapButton value="false" />
		<showTOCButton value="true" />
		
		<pickerLabelColorR value="40" />
		<pickerLabelColorG value="40" />
		<pickerLabelColorB value="40" />
		<pickerLabelAlpha value="100%" />
		<pickerLabelFont value="AvenirNextCondensed-Regular" />
		
		<pickerPageReferenceDisplayFontSizeForTitle value="42" />

		
	</class>

	<class value="toolbar">
		<showLibraryButton value="false" />
		<showFloatingBookButton value="false" />
	</class>



</settings>