<?xml version="1.0" encoding="UTF-8" ?>
<settings>

	<comments>
		USER SETTINGS
		  
		Date formatting:
		http://www.lua.org/pil/22.1.html
	</comments>

	<class value="app">
		<developing value="false" />
		<iap value="false" />
		<lookForThumbnails value="true" />
		<usingFaceBook value="false" />
		<usingTwitter value="false" />
		<developing value="false" />
		<developingShowGuides value="false" />
	</class>
	
	
	<class value="slideview">

		<surroundingPageCount value="2" />
	
		<autoGoNextPageTime value="7000" alt="Slideshow delay in ms." />
		
		<chapterBackgroundColorR value="240" />
		<chapterBackgroundColorG value="240" />
		<chapterBackgroundColorB value="240" />
		<chapterBackgroundAlpha value="100%" />

		<pageStrokeColorR value="245" />
		<pageStrokeColorG value="245" />
		<pageStrokeColorB value="245" />
		<pageStrokeAlpha value="100%" />
		
		<pageOutsideMargin value="0" />

		<pageStrokeWidth value="0" />

		<captionShowFacebookButton value="false" />
		<captionShowTwitterButton value="false" />
		
		<captionFormat>
		{caption}
		{place}
		</captionFormat>
		
		<captionFooterText>
		### set, ,,,,,,,50%
		{pageNumberInBook} of {pagecountInBook}
		</captionFooterText>


		<captionPlaceSeparator value=", " />
		<captionPlaceFormat>{city}{citySeparator}{state}{stateSeparator}{country}</captionPlaceFormat>
		
		
		<captionH value="20%" />
		<captionW value="100%" />
		<captionVAlign value="bottom" />
		<captionDateFormat value="%m/%d/%Y" />
		
		<captionTitleHeight value="150%" />
		<captionTitleFont value="HelveticaNeue-Bold" />
		<captionTitleFontSize value="16" />
		<captionTitleLineHeight value="24" />
		<captionTitleBlockAlignment value="left" />

		<captionFont value="HelveticaNeue" />
		<captionFontSize value="16" />
		<captionLineHeight value="22" />
		<captionPagenumFontSize value="14" />
		<captionPagenumFont value="HelveticaNeue-Italic" />
		

		<textblockTitleHeight value="34" />
		<textblockTitleFont value="HelveticaNeue-Light" />
		<textblockTitleFontSize value="34" />
		<textblockTitleLineHeight value="120%" />

		<textblockTitleBlockAlignment value="left" />

		<textblockTitleColorR value="180" />
		<textblockTitleColorG value="180" />
		<textblockTitleColorB value="180" />
		<textblockTitleAlpha value="100%" />
		
		<textblockAlignment value="left" />
		<textblockFooterAlignment value="right" />
		<textblockFooterHeight value="30" />
		
		<textblockFooterText value="" />

		<textblockTextH value="100%" />
		<textblockTextW value="100%" />
		<textblockVAlign value="top" />
		
		<textblockFontSize value="14" />
		<textblockFont value="HelveticaNeue" />
		<textblockLineHeight value="160%" />

		<textblockPagenumFontSize value="11" />
		<textblockPagenumFont value="HelveticaNeue-Italic" />

		<textblockTextColorR value="10" />
		<textblockTextColorG value="10" />
		<textblockTextColorB value="10" />
		<textblockTextAlpha value="100%" />

		<textblockTextTopMargin value="0" />
		<textblockTextLeftMargin value="0" />
		<textblockTextBottomMargin value="0" />
		<textblockTextRightMargin value="0" />

		<textblockBkgdTopMargin value="8%" />
		<textblockBkgdLeftMargin value="10%" />
		<textblockBkgdBottomMargin value="7%" />
		<textblockBkgdRightMargin value="9%" />

		<textblockTextBkgdColorR value="200" />
		<textblockTextBkgdColorG value="100" />
		<textblockTextBkgdColorB value="125" />
		<textblockBkgdAlpha value="0%" />

		<linkTextSize value="14" />
		
		<buttonTextSize value="12" />
		<buttonEmboss value="false" />
		<buttonFont value="HelveticaNeue" />
		<buttonTextColor value="70,90,164,255" />
		<buttonTextOverColor value="102,153,255,255" />
		
		<overlayAlpha value="1.0" />
		<overlayImageAlpha value="1.0" />
		<overlayY value="center" />

		<overlayTitleHeight value="50" />
		<overlayTitleFont value="HelveticaNeue-Italic" />
		<overlayTitleFontSize value="16" />
		<overlayTitleBlockAlignment value="left" />

		<overlayTopPadding value="20" />
		<overlayLeftPadding value="20" />
		<overlayBottomPadding value="20" />
		<overlayRightPadding value="20" />

		<overlayFooterAlignment value="center" />
		<overlayFooterText>{pageNumberInChapter} of {pagecountInChapter}</overlayFooterText>
		
		<overlayFontSize value="16" />
		<overlayFont value="HelveticaNeue" />
		<overlayPagenumFontSize value="11" />
		<overlayPagenumFont value="HelveticaNeue-Italic" />

		<overlayFilename value="_ui/overlay-blank.png" />


		<gridMaxCount value="6" />
		<gridDirection value="rows" alt="columns" />
		<gridPadding value="0" />
		<gridItemWidth value="150" />
		<gridItemHeight value="150" />
		
		<gridShowItemBackground value="false" />
		<gridItemBackgroundColor value="250,250,250,100%" />
		<gridItemBackgroundCorner value="0" />
		<gridItemBackgroundPadding value="0" />


		<tocTitleFont value="HelveticaNeue-Light" />
		<tocTitleAlignment value="left" />
		<tocTitleFontSize value="34" />
		<tocTitleFontColor value="180,180,180" />
		<tocTitleFontAlpha value="100%" />
		<tocTitleTop value="25%" />
		<tocTitleHeight value="34" />
		
		<tocItemFont value="HelveticaNeue-Light" />
		<tocItemFontSize value="18" />
		<tocItemFontColor value="10,10,10" />
		<tocItemFontAlpha value="50%" />
		<tocItemLineHeight value="160%" />
		<tocItemlistTop value="25%" />
		<tocItemFontOverColor value="170,10,10,100%" />


	</class>
	
	<class value="navbar">
		<showOnStart value="false" />		
		
		<labelType value="label" alt="label" alt2="date+label" alt3="date"/>
		<navbarType value="slider" alt="timeline" alt2="slider"/>
		
		<padding value="20" />

		<frameImage value="" />
		<frameImagePadding value="20" />
		
		<x value="0" />
		<y value="0" />
		<width value="100%" />
		
		<height value="60" />
		<cornerRadius value="0" />
		<alpha value="90%" />
		<frameAlpha value="100%" />
		<useGradient value="true" />
		<gradient value="255,255,255,178,178,178,down" />
		
		<picker value="slider" />
		
		<pickerBackgroundColor value="0,200,3,0" />
		
		<pickerButton value="" />
		<pickerButtonOver value="" />

		<pickerButtonWidth value="3" />
		<pickerButtonHeight value="3" />
		<pickerButtonShape value="circle" alt="rect" />
		<pickerButtonType value="image" />
		<pickerButtonColor value="200,200,200" />
		<pickerButtonAlpha value="100%" />

		
		<pickerPadding value="20" />
		<pickerHeight value="6" />
		<pickerCornerRadius value="0" />
		<pickerColorR value="80" />
		<pickerColorG value="80" />
		<pickerColorB value="80" />
		<pickerBackgroundAlpha value="100%" />
		<pickerStrokeWidth value="1" />
		<pickerStrokeColorR value="250" />
		<pickerStrokeColorG value="250" />
		<pickerStrokeColorB value="250" />
		<pickerStrokeAlpha value="30%" />
		
		<pickerShowLabels value="true" />
		<pickerLabelGroupBy value="text" />

		<pickerLabelColorR value="30" />
		<pickerLabelColorG value="30" />
		<pickerLabelColorB value="30" />
		<pickerLabelAlpha value="100%" />
		<pickerLabelFont value="HelveticaNeue" />
		<pickerLabelFontSize value="10" />
		<pickerLabelFontRotation value="0" />
		<pickerLabelLineLength value="15" />
		<pickerLabelLineColor value="30,30,30,30%" />
		
		<pickerButtonOverColor value="250,250,250" />
		<pickerButtonOverAlpha value="90%" />
		
		<pickerLabelDateFormat value=" '%y" />
		<pickerGroupDates value="true" />
		<pickerGroupOverColor value="170,10,10,100%" />

		<hAlignment value="center" />
		<vAlignment value="bottom" />
		
		<marginTop value="0" />
		<marginBottom value="0" />
		<marginLeft value="0" />
		<marginRight value="0" />
		
		
		<backgroundColorR value="220" />
		<backgroundColorG value="220" />
		<backgroundColorB value="220" />
		<backgroundAlpha value="100%" />

		<strokeWidth value="0" />

		<strokeColorR value="30" />
		<strokeColorG value="30" />
		<strokeColorB value="30" />
		<strokeAlpha value="100%" />

		<TextColorR value="30" />
		<TextColorG value="30" />
		<TextColorB value="30" />
		
		<icon value="_ui/navPageBlack.png" />
		<iconOver value="_ui/navPageBlackOver.png" />
		<iconWidth value="24" />
		<iconHeight value="12" />

		<iconTocText value="" />
		<iconTOC value="_ui/button-contents.png" />
		<iconTOCOver value="_ui/button-contents-over.png" />
		<iconTOCWidth value="73" />
		<iconTOCHeight value="26" />

		<iconPlayText value="" />
		<iconPlay value="_ui/button-play.png" />
		<iconPlayOver value="_ui/button-play-over.png" />
		<iconPlayWidth value="73" />
		<iconPlayHeight value="26" />

		<iconPrevText value="" />
		<iconPrev value="_ui/button-prev.png" />
		<iconPrevOver value="_ui/button-prev-over.png" />
		<iconPrevWidth value="73" />
		<iconPrevHeight value="26" />

		<iconNextText value="" />
		<iconNext value="_ui/button-next.png" />
		<iconNextOver value="_ui/button-next-over.png" />
		<iconNextWidth value="73" />
		<iconNextHeight value="26" />
		<shadowExtraSize value="34" />
		<shadowAlpha value="0.5" />
	</class>
	


	<class value="facebook">
		<appId value="243903512304887" />
		<apiKey value="83bcb3d296e86ef889f133245db4433d" />
		<picturesBaseURL value="http://www.mimetic.com/ebookimages/facebook_images/aftermath4/" />
		<name>{booktitle} by {bookauthor}</name>
		<caption>See FIX THIS! in the iTunes App Store.</caption>
		<captionlink>http://itunes.apple.com/us/app/street-cats-of-istanbul/id459840351?ls=1&mt=8</captionlink>
		<link>http://itunes.apple.com/us/app/street-cats-of-istanbul/id459840351?ls=1&mt=8</link>
		<descriptionPicturePage>
		I like the picture on page {pagenumber} of chapter {chapternumber}! 
		{title}: {caption}
		</descriptionPicturePage>
		<descriptionNoPicture>
		I like page {pagenumber} of chapter {chapternumber}!
		</descriptionNoPicture>
		<footer>More Info</footer>
		<footerlink>http://theaftermathproject.org/</footerlink>
		<postPostPhotoToFacebookMsg>Photo posted to Facebook.</postPostPhotoToFacebookMsg>

		<facebookLogoutMsg>Logged out of Facebook.</facebookLogoutMsg>
	</class>
	
	<class value="twitter">
		<consumerkey value="sxq3zxtSQ8oLwJ5rDPwifA" />
		<consumersecret value="WrwPZacXQfQHrdJ7bdO6ZONwc943pXFi2iBZa0M6BZc" />
		<authorizeurl value="http://api.twitter.com/oauth/authorize" />
		<requesttokenurl value="http://api.twitter.com/oauth/request_token" />
		<accesstokenurl value="http://api.twitter.com/oauth/access_token" />
		<tokenreadyurl value="http://www.mimetic.com/" />


		<testaccesstoken value="337928080-Irsx1zguPH6ysNlZ32S4qsikDqLAiuy37we3V2Jv" />
		<testaccesstokensecret value="0h4vlDR1hFSRxiscU2KxaFRvgi683gj6LlYwiWYS2M" />

		<Xtestaccesstoken value="337928080-wZ4ORdPD7yRDYDZ925SQGimnZUxBbaNs90euyVU2" />
		<Xtestaccesstokensecret value="b80O98ak9gHfwFtFBt03ssVmyTBup65huIdsuCPOEmM" />

		<Xconsumerkey value="OEYHEmbXkvojmP17IwqfxQ" />
		<Xconsumersecret value="j9E3WaJcM0DNsqAyvEQqePnOVDJrCj2rAJc6KsMG8s" />

		<tinyurl>http://theaftermathproject.org/</tinyurl>
		<tweet>Likes page {pagenumberInBook} of {booktitle}! Go check it out at {tinyurl}</tweet>
		<hashtags>cats,Istanbul,photography</hashtags>
		
		
		<postTweetMsg>Tweet Sent.</postTweetMsg>
		<twitterLogoutMsg>Logged out of Twitter.</twitterLogoutMsg>
	</class>
</settings>
