<?xml version="1.0" encoding="UTF-8" ?>
<settings>

	<class value="slideview">

		<orientations value="landscapeLeft,landscapeRight" />

		<captionFormat>{{caption}}
		### set, Baskerville-Italic
{{date}}  {{place}}</captionFormat>

		<captionPlaceFormat>{{sublocation}} {{city}}{{citySeparator}}{{state}}{{stateSeparator}}{{country}}</captionPlaceFormat>

		<captionFooterAlignment value="center" />

		<captionFooterText>
		### set, ,,,,,,,50%
		( {{pageNumberInBook}} of {{pagecountInBook}} )
		</captionFooterText>

	</class>

</settings>